<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.hyunjin.mapper.replyMapper">

	<!-- 게시글에 맞는 댓글 조회 -->
	<select id="ReplyView" resultType="replyDTO">
		SELECT
			*
		FROM
			reply
		WHERE
			bid=#{bid}
	</select>
	
	<!-- 댓글 수정 시, 해당 댓글 정보 조회 -->
	<select id="ReplyOne" resultType="replyDTO">
		SELECT
			*
		FROM
			reply
		WHERE
			bid=#{bid}
		AND
			uid=#{uid}
	</select>
	
	<!-- 댓글 수정/삭제 시 필요한 비밀번호 유효성 검사 -->
	<select id="ReplyPassword" resultType="replyDTO">
		SELECT
			password
		FROM
			reply
		WHERE
			uid=#{uid}
		AND
			bid=#{bid}
	</select>
	
	<!-- 댓글 등록 -->
	<insert id="ReplyInsert">
		INSERT INTO reply(
			uid,
			bid,
			name,
			password,
			comment
			)
			VALUES(
				(SELECT IFNULL(MAX(uid)+1, 1) FROM reply r1),
				#{bid},
				#{name},
				#{password},
				#{comment}
			)
	</insert>
	
	<!-- 댓글 수정(비밀번호가 일치하는 사용자만 변경 가능) -->
	<update id="ReplyUpdate">
		UPDATE
			reply
		SET
			password=#{password},
			comment=#{comment},
			reg_date=CURRENT_TIMESTAMP
		WHERE
			uid=#{uid}	
	</update>
	
	<!-- 댓글 삭제(비밀번호가 일치하는 사용자만 삭제 가능) -->
	<delete id="ReplyDelete">
		DELETE
		FROM
			reply
		WHERE
			uid=#{uid}
	</delete>
</mapper>